.background {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 25px;
}

.container {
  background-color: rgba(0, 0, 0, 0.096);
  /* height: 100%; */
  width: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.mainSection {
  width: 85%;
	text-align: left;
	padding: 20px;
	overflow-y: auto;
}
.headline {
	display: flex;
	justify-content: space-between;
}
.allDishes {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.allDishes th, .allDishes td {
  padding: 8px;
  text-align: left;
}

.allDishes th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.allDishes tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.allDishes tbody tr:hover {
  background-color: rgba(172, 48, 255, 0.39);
  transition: all .3s;
}

.allDishes th:first-child,
.allDishes td:first-child {
  min-width: 100px;
}

.allDishes th:last-child,
.allDishes td:last-child {
  min-width: 80px;
}

.headline button{
	border: none;
	width: 160px;
	height: 60px;
	transition: all .3s;
	font-size: 15px;
	border-radius: 10px;
}
.headline button:hover{
	transition: all .3s;

	background-color: rgba(167, 73, 255, 0.925);
	color: #f2f2f2;
}