.container {
	min-height: 100vh;
	color: whitesmoke;
	background-color: black;
	padding-top: 40px;
}


.headline {
	display: flex;
	background-color: rgb(0, 0, 0);
	color: whitesmoke;
	width: 100vw;
	position: relative;
	text-align: left;
	padding: 0 125px;
	border-bottom: 1px solid #bf8e397c;
	border-top: 1px solid #bf8e397c;
	margin-bottom: 50px;
	height: 70px;
	align-items: center;
	
}

.title {
	font-weight: 400;
}

.DataContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 125px;
}
