.background {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  padding: 25px;
}

.container {
  background-color: rgba(0, 0, 0, 0.096);
  /* height: 100%; */
  width: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.mainSection {
  width: 85%;
	text-align: left;
	padding: 20px;
}
.allOrders {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.allOrders th, .allOrders td {
  padding: 8px;
  text-align: left;
}

.allOrders th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.allOrders tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.allOrders tbody tr:hover {
  background-color: rgba(172, 48, 255, 0.39);
  transition: all .3s;
}

.allOrders th:first-child,
.allOrders td:first-child {
  min-width: 100px;
}

.allOrders th:last-child,
.allOrders td:last-child {
  min-width: 80px;
}

.detailButton{
	border: none;
	width: 100px;
	height: 40px;
	transition: all .3s;
	font-size: 20px;
	border-radius: 10px;
}
.detailButton:hover{
	transition: all .3s;

	background-color: rgba(167, 73, 255, 0.925);
	color: #f2f2f2;
}