.empty {
	min-height: 100vh;
	background-color: black;
	padding-top: 50px;
}

.emptyTitle {
	color: #BF8D39;
}

.emptyButton {
	background-color: rgba(255, 255, 255, 0);
	border: none;
	color: whitesmoke;
	margin-left: 30px;
	margin-top: 30px;
	transition: box-shadow 0.5s, background-color 0.5s, color 0.5s;
	padding: 5px 10px;
	font-size: 22px;
	cursor: pointer;
}

.emptyButton:hover {
  box-shadow: 0 0 0 1px #BF8D39;
  background-color: rgba(90, 90, 90, 0.452);
  color: white;
	
}
.container {
	min-height: 100vh;
	background-color: black;
	padding: 50px 100px;
	display: flex;
	justify-content: space-between;
}
