.background {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  padding: 25px;
}

.container {
  background-color: rgba(0, 0, 0, 0.096);
  /* height: 100%; */
  width: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

/* SIDEBAR */
.sidebar {
  background-color: rgba(255, 0, 234, 0);
  padding: 15px 0;
  width: 15%;
}
.naka {
  font-family: "TheSeason";
  color: #bf8d39;
  font-size: 50px;
  height: 10%;
}
.list {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.listItem {
  display: flex;
  align-items: center;
  font-size: 25px;
  list-style: none;
  text-decoration: none;
  color: black;
  width: 100%;
  padding: 0 20px;
  height: 50px;
}
.activeListItem{
	display: flex;
  align-items: center;
  font-size: 25px;
  list-style: none;
  text-decoration: none;
  width: 100%;
  padding: 0 20px;
  height: 50px;
	background-color: rgba(167, 73, 255, 0.925);
	border-top-right-radius: 15px; 
  border-bottom-right-radius: 15px; 
}
.activeListItem:hover {
  transition: all 0.3s;
  background-color: rgba(172, 48, 255, 0.596);
  cursor: pointer;
}
.activeLinkListItem{
	display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
}
.linkListItem {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  color: black;
  width: 100%;
  height: 100%;
}
.listItem:hover {
	border-top-right-radius: 15px; 
  border-bottom-right-radius: 15px; 
  transition: all 0.3s;
  background-color: rgba(172, 48, 255, 0.39);
  cursor: pointer;
}
/* MAINSECTION */
.mainSection {
  width: 60%;
	text-align: left;
	padding: 20px;
}

.dashboardTitle {
	font-size: 50px;
	font-weight: 600;
}
.cardsContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.card{
	width: 30%;
	height: 150px;
	background-color: rgba(167, 73, 255, 0.925);
	display: flex;
	border-radius: 10px;
	color: aliceblue;
	padding: 20px;
	justify-content: space-between;
}
.cardDescription{
	display: flex;
	flex-direction: column;
	width: 50%;
	font-size: 25px;
	justify-content: center;
	text-align: center;
}
.cardInfo{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	text-align: right;
}
.cardIcon {
	width: 40px;
	height: 40px;
}
/* NEWORDERS */

.newOrders {
  width: 25%;

}

.orderTable {
  width: 100%;
  border-collapse: collapse;
}

.orderTable th, .orderTable td {
  padding: 8px;
  text-align: left;
}

.orderTable th {
  background-color: #f2f2f2;
}

.orderTable tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.orderTable tbody tr:hover {
  background-color: rgba(172, 48, 255, 0.39);
	transition: all .3s;
}

.orderTable th:first-child,
.orderTable td:first-child {
  min-width: 100px;
}

.orderTable th:last-child,
.orderTable td:last-child {
  min-width: 80px;
}

button:hover{
	cursor: pointer;
}

.botonEnPreparacion{
	border: none;
	border-radius: 5px;
	width: 100px;
	height: 50px;
	margin-top: 20px;
	background-color: #ffa33b;

}
.botonEnCamino{
	border: none;
	border-radius: 5px;
	width: 100px;
	height: 50px;
	margin-top: 20px;
	background-color: #fcff53;

}
.botonEntregado{
	border: none;
	border-radius: 5px;
	width: 100px;
	height: 50px;
	margin-top: 20px;
	background-color: #9aff6b;

}
.botonCancelado{
	border: none;
	border-radius: 5px;
	width: 100px;
	height: 50px;
	margin-top: 20px;
	background-color: #ff4646;

}

.handleStatusButton{
	background-color: #e0e0e0e0;
	border: none;
	border-radius: 5px;
	height: 30px;
	padding: 0 5px;
}
.handleStatusButton:hover{
	/* border: 2px solid rgb(190, 38, 250); */
	background-color: #ffffff;
	border-radius: 5px;
}