.container{
  display: flex;
	flex-direction: row;
	width: 500px;
	border: 1px solid #BF8D39;
	border-radius: 20px;
	padding: 18px;
	text-align: left;
	align-items: stretch;
	justify-content: space-between;
	margin-bottom: 20px;
}
.dataContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.shoppingContainer {
	display: flex;
	align-items: center;
}

.titulo {
	color: whitesmoke;
	font-size: 20px;
	margin: 0px;
}

.imgContainer {
  min-width: 150px; /* Establece el ancho deseado para el contenedor */
  min-height: 150px; /* Establece la altura deseada para el contenedor */
	max-width: 150px;
	max-height: 150px;
  position: relative; /* Asegura que el contenedor sea el contexto de posición para la imagen */;

}
.image {
  width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
  height: 100%; /* Hace que la imagen ocupe todo el alto del contenedor */
  object-fit: cover;
  top: 0; /* Alinea la imagen en la parte superior del contenedor */
  left: 0; /* Alinea la imagen en la parte izquierda del contenedor */
	border-radius: 30px;
}


.description{
	margin: 0px;
	color: rgba(253, 253, 253, 0.651);
	height: 48px;
	width: 250px;
	font-weight: 100;
	font-size: 14px;
	line-height: 1.1;
}

.price {
	font-size: 18px;
	margin: 0;
	margin-right: 30px;
	font-weight: 500;
	color: whitesmoke;
}