.container{
  display: flex;
	width: 30%;
}

.imgContainer {
  min-width: 200px; /* Establece el ancho deseado para el contenedor */
  min-height: 200px; /* Establece la altura deseada para el contenedor */
	max-width: 200px;
	max-height: 200px;
  position: relative; /* Asegura que el contenedor sea el contexto de posición para la imagen */
}
.image {
  width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
  height: 100%; /* Hace que la imagen ocupe todo el alto del contenedor */
  object-fit: cover; /* Ajusta la imagen para que cubra completamente el contenedor sin deformarse */
  top: 0; /* Alinea la imagen en la parte superior del contenedor */
  left: 0; /* Alinea la imagen en la parte izquierda del contenedor */
}