.container {
	display: flex;
	flex-direction: column;
}

.botonGoogle {
	margin-top: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: rgb(19, 19, 19);
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botonGoogle:hover {
  background-color: rgb(14, 14, 14);
	border: 1px solid #bf8e3965;
}

.botonGoogle img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
