.main{
	display: flex;
	flex-direction: row;
	background-color: rgb(0, 0, 0);
	margin-bottom: 0px;
	background-image: linear-gradient(to bottom, #000000, #1a1a1a);
	padding-top: 20px;
	align-items: flex-start;
	justify-content: space-around;
	padding-top: 40px;
}