.menu{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
/*     font-weight: bold;
    font-family: 'Luckiest Guy', cursive;
    background-image: url('https://previews.123rf.com/images/netkoff/netkoff1610/netkoff161000620/64696975-patr%C3%B3n-de-comida-r%C3%A1pida-en-un-fondo-blanco-ilustraci%C3%B3n-vectorial.jpg');
 */     
}

.title{
    margin-top: 2%;
    font-family: 'Nunito';
    font-size: 50px;
    text-align: justify;
    letter-spacing: 2px;
    display: inline-block;
    /* background: #fff; */
    /* mix-blend-mode: multiply; */
    position: relative;
    /* color: yellow */
    color: #234258

}
.title::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to right, rgb(31, 70, 118), #234258); */
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    left: 0;
}
    
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}