.background {
  display: flex;
  flex-direction: row;
  /* height: 100vh; */
  padding: 25px;
}

.container {
  background-color: rgba(0, 0, 0, 0.096);
  /* height: 100%; */
  width: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

/* SIDEBAR */

/* MAINSECTION */
.mainSection {
  width: 60%;
	text-align: left;
	padding: 20px;
}

.dashboardTitle {
	font-size: 50px;
	font-weight: 600;
}
.cardsContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.card{
	width: 30%;
	height: 150px;
	background-color: rgba(167, 73, 255, 0.925);
	display: flex;
	border-radius: 10px;
	color: aliceblue;
	padding: 20px;
	justify-content: space-between;
	text-decoration: none;
}
.cardDescription{
	display: flex;
	flex-direction: column;
	width: 50%;
	font-size: 25px;
	justify-content: center;
	text-align: center;
	text-decoration: none;
}
.cardInfo{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	text-align: right;
	text-decoration: none;
}
.cardIcon {
	width: 40px;
	height: 40px;
}
/* NEWORDERS */

.newOrders {
  width: 25%;

}

.orderTable {
  width: 100%;
  border-collapse: collapse;
}

.orderTable th, .orderTable td {
  padding: 8px;
  text-align: left;
}

.orderTable th {
  background-color: #f2f2f2;
}

.orderTable tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.orderTable tbody tr:hover {
  background-color: rgba(172, 48, 255, 0.39);
	transition: all .3s;
}

.orderTable th:first-child,
.orderTable td:first-child {
  min-width: 100px;
}

.orderTable th:last-child,
.orderTable td:last-child {
  min-width: 80px;
}

button:hover{
	cursor: pointer;
}

.botonEnPreparacion{
	font-size:small;
	border: none;
	border-radius: 5px;
	width: 100px;
	height: 60px;
	margin-top: 20px;
	background-color: #ffa33b;

}
.botonEnCamino{
	font-size:small;
	border: none;
	border-radius: 5px;
	width: 100px;
	height: 60px;
	margin-top: 20px;
	background-color: #fcff53;

}
.botonEntregado{
	font-size:small;
	border: none;
	border-radius: 5px;
	width: 100px;
	height: 60px;
	margin-top: 20px;
	background-color: #9aff6b;

}
.botonCancelado{
	font-size:small;
	border: none;
	border-radius: 5px;
	width: 100px;
	height: 60px;
	margin-top: 20px;
	background-color: #ff4646;

}

.handleStatusButton{
	background-color: #e0e0e0e0;
	border: none;
	border-radius: 5px;
	height: 30px;
	padding: 0 5px;
}
.handleStatusButton:hover{
	/* border: 2px solid rgb(190, 38, 250); */
	background-color: #ffffff;
	border-radius: 5px;
}


.tableContainer{
	overflow-y: auto;
	height: 288px;
}
.completedOrders {
  width: 100%;
	height: 400px;
}

.completedOrders th, .completedOrders td {
  padding: 8px;
  text-align: left;
}

.completedOrders th {
  background-color: #f2f2f2;
}

.completedOrders tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.completedOrders tbody tr:hover {
  background-color: rgba(172, 48, 255, 0.39);
	transition: all .3s;
}

.completedOrders th:first-child,
.completedOrders td:first-child {
  min-width: 100px;
}

.completedOrders th:last-child,
.completedOrders td:last-child {
  min-width: 80px;
}

.completedOrdersTitle {
	margin-top: 20px;
}