.Carousel {
  display: flex;
  flex-direction: row;
  width: 674.5px;
  height: 502px;
  margin-left: -2%;
  margin-top: 17%;
  
  overflow: hidden;
}

.Carrousel_IMG {
    max-width: 100%;
  max-height: 100%;
  border-radius: 6px;
}

  .google{
    margin-top: 25px;
  }

  .boton_Enviar{
    background-color: #0d6efd;
    padding-right: 10px;
    margin-right: 88px;
    border-radius: 6px;
    color: white;
    width: 69px;
    height: 38px;
    font-size: 16px;
    box-shadow: none;
  }

  .boton_Borrar{
    background-color: #dc3545;
    border-radius: 6px;
    color: white;
    width: 69px;
    height: 38px;
    font-size: 16px;
    box-shadow: none;
  }

  .boton_Borrar:hover{
    background-color: #d9dcdd;
    color: black;
  }

  .boton_Enviar:hover{
    background-color: #d9dcdd;
    color: black;
  }

  .error{
    color: red;
  }

  /*dc3545*/
