.container{
	color: whitesmoke;
	border: 1px solid #bf8e3938;
	border-radius: 5px;
	width: 350px;
	height:fit-content;
	padding: 30px;
}
.title{
	font-size: 25px;
	font-weight: 400;
}
.separador{
	width: 90%;
	display: block;
  height: 1px;
  border: none;
  background-color: #BF8D39;
  margin: 20px auto;
}
.itemContainer {
	margin-bottom: 20px;
}
.subtotal{
	display: flex;
	justify-content: space-between;
	
	padding: 0 0px;
}

.totalData{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.total{
	font-size: 18px;
	font-weight: 600;
}

.botonPagar {
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid #bf8e3938;
	color: whitesmoke;
	transition: box-shadow 0.5s, background-color 0.5s, color 0.5s;
	padding: 5px 10px;
	width: 85%;
	
}

.botonPagar:hover {
	/* border: 1px solid ; */
  box-shadow: 0 0 0 1px #BF8D39;
  background-color: #00000000;
  color: #fff;
}