.categoryButton {
	font-size: 18px;
	font-weight: 400;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid #bf8e3938;
	color: whitesmoke;
	transition: box-shadow 0.5s, background-color 0.5s, color 0.5s;
	padding: 5px 10px;
	width: 100px;
	
}

.categoryButton:hover {
	/* border: 1px solid ; */
  box-shadow: 0 0 0 1px #BF8D39;
  background-color: #00000000;
  color: #fff;
}

.pressedCategoryButton {
	font-size: 18px;
	font-weight: 400;
	box-shadow: 0 0 0 1px #BF8D39;
	cursor: pointer;
	border: 1px solid #BF8D39;
	background-color: #BF8D39;
	color: whitesmoke;
	transition: box-shadow 0.5s, background-color 0.5s, color 0.5s;
	padding: 5px 10px;
	width: 100px;
}

.pressedCategoryButton:hover {
	font-size: 18px;
	font-weight: 400;
	box-shadow: 0 0 0 1px #BF8D39;
	cursor: pointer;
	border: 1px solid #bf8e39d5;
	background-color: #bf8e39d5;
	color: whitesmoke;
	transition: box-shadow 0.5s, background-color 0.5s, color 0.5s;
	padding: 5px 10px;
	width: 100px;
}