.filterButton{
/*     background-color: #eb1212ee;*/
/*     background-color: #ffbc0d;
 */    /* background-color: #E31F2B; */
    color: rgb(21, 57, 135);
    margin-top: 2%;
    margin-bottom: 2%;
    border-style: none;
    font-family: 'Nunito';

}

.filterButton:hover{
    cursor: pointer;
    box-shadow: 1px 1px 2px black;
    margin-top: 2%;
    background-color: #ffefc6;

}


.filter{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.category{
    margin-bottom: 5%!important;

}